{% extends 'translate/base.html' %}
{% load static %}

{% block content %}
    <div class="pagina-inicial">
        <form action="" method="GET">
            <!-- csrf_tokeh - Garante a segurança das informações que passamos pelo formulário.
            Sempre deve ser colocado dentro da tag <form> -->
            {% csrf_token %}
            <section class="conteudo" class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <p class="lead" style="color:#D9D9D9; margin-bottom: 5px;">
                    Select Project
                </p>
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <select class="form-control" name="id_project">
                        {% for obj in prj %}
                            <option value="{{ obj.id }}">{{ obj.name }}</option>                            
                        {% endfor %}
                    </select> 
                </div>
                <p class="lead" style="color:#D9D9D9; margin-bottom: 5px;">
                    Select Type File
                </p>
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <select class="form-control" name="type_file">
                        <option value="CSV">CSV</option>                            
                        <option value="JASON">JASON</option>                            
                        <option value="TXT">TXT</option>                            
                    </select> 
                </div>

                <br><br>
                <div class="row">
                    <div class="col-12 text-center offset-12">
                        <a href="{% url 'generate_file' %}" onclick="history.back()" class="btn btn-primary col-12" style="padding: top 5px;">Generate File</a>
                        <a href="#" onclick="history.back()" class="btn btn-warning col-12" style="padding: top 5px;">to go back</a>
                    </div>
                </div>
            </section>
        </form>
        </div>
{% endblock %}