{% extends 'translate/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <section class="conteudo">
            <section class="banner">
                <img class="banner__imagem" src="{% static '/assets/imagens/banner.png' %}" alt="banner Translations">
                <h1 class="banner__titulo">Kids Banner smart translation!</h1>
            </section>
                <!-- <section class="galeria"> -->
                <!-- <div class="cards"> -->
                    <!-- <ul class="cards__lista"> -->
                        <!-- {% if cards %} -->
                            <!-- {% for translate in cards %} -->
                                <!-- <li class="card"> -->
                                    <!-- <a href="imagem.html">
                                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                    </a> -->
                                    <!-- <span class="card__tag">{{translate.id}}</span> -->
                                    <!-- <div class="card__info"> -->
                                        <!-- <p class="card__titulo">{{translate.strategy}}</p> -->
                                        <!-- <div class="card__texto"> -->
                                            <!-- <p class="card__descricao">{{translate.language}}</p> -->
                                            <!-- <span>
                                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                            </span> -->
                                        <!-- </div> -->
                                    <!-- </div> -->
                                <!-- </li> -->
                            <!-- {% endfor %} -->
                        <!-- {% else %}         -->
                        <!-- {% endif %}         -->
                    <!-- </ul> -->
                <!-- </div> -->
            <!-- </section>  -->
        </section>
    </div>
{% endblock %}