{% extends 'translate/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <div class="table-responsive">
            <table class="table table_striped" style="color:#D9D9D9; margin-bottom: 5px;">
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Strategy</th>
                    <th>Translation</th>
                    <th>Language</th>
                    <th>Context</th>
                    <th>Options</th>
                </tr>

                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.id_project }}</td>
                        <td>{{ obj.id_language }}</td>
                        <td>{{ obj.strategy }}</td>
                        <td>{{ obj.key }}</td>
                        <td>{{ obj.value }}</td>
                        <td>
                            <a href="{% url 'update_translations' obj.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'delete_translations' obj.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6"> Não há registros na tabela...</td>
                    </tr>
                {% endfor%}

            </table>
        </div>
        <div class="row">
            <div class="col-6 text-center offset-3">
                <a href="{% url 'insert_translations' %}" class="btn btn-success col-12" style="padding: top 5px;">New record</a>
            </div>
        </div>
    </div>
{% endblock %}