{% extends 'translate/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <div class="table-responsive">
            <table class="table table_striped" style="color:#D9D9D9; margin-bottom: 5px;">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Export Strategy</th>
                </tr>

                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.export_strategy }}</td>
                        <td>
                            <a href="{% url 'tela_update_project' obj.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'delete_project' obj.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3"> There are no records in the table...</td>
                    </tr>
                {% endfor%}
            </table>
        </div>
        <div class="row">
            <div class="col-3 text-center offset-3">
                <a href="{% url 'insert_project' %}" class="btn btn-success col-12" style="padding: top 5px;">New record</a>
            </div>
        </div>
    </div>
{% endblock %}