{% extends 'translate/base.html' %}
{% load static %}
{% block content %} 

    <section class="galeria" style="margin-left: 5em">

        <form action="{% url 'update_projectlanguage' prj_lng.id %}" method="POST">
            <!-- csrf_tokeh - Garante a segurança das informações que passamos pelo formulário.
            Sempre deve ser colocado dentro da tag <form> -->
            {% csrf_token %}
            <div class="row">
                <!-- <div class="col-10 col-lg-10" style="margin-bottom: 10px;">
                    <label for="id" style="color:#D9D9D9; margin-bottom: 5px;"><b>Id</b></label>
                    <input type="text" class="form-control" disabled value="{{ prj_lng.id }}">
                </div> -->
                <div class="col-10 col-lg-10" style="margin-bottom: 10px;">
                    <label for="id_project" style="color:#D9D9D9; margin-bottom: 5px;"><b>Project Id</b></label>
                    <select class="form-control" name="id_project" required value="{{ prj_lng.id_project }}">
                        {% for obj in prj %}
                            <option value="{{ obj.id }}">{{ obj.name }}</option>                            
                        {% endfor %}
                    </select> 
                </div>
                <div class="col-10 col-lg-10" style="margin-bottom: 10px;">
                    <label for="id_language" style="color:#D9D9D9; margin-bottom: 5px;"><b>Language Id</b></label>
                    <select class="form-control" name="id_language" required value="{{ prj_lng.id_language }}">
                        {% for obj in lng %}
                            <option value="{{ obj.id }}">{{ obj.name }}</option>                            
                        {% endfor %}
                    </select> 
                </div>
                <div class="col-10 col-lg-10" style="margin-bottom: 10px;">
                    <label for="txt_limit" style="color:#D9D9D9; margin-bottom: 5px;"><b>Txt Limit</b></label>
                    <input type="text" class="form-control" name="txt_limit" value="{{ prj_lng.txt_limit }}">
                </div>
                <div class="row">
                    <div class="col-6 text-center offset-2">
                        <button class="btn btn-success col-6" style="padding: top 5px;" type="submit">Update record</button>
                    </div>
                    <div class="col-6 text-center offset-2">
                        <a href="#" onclick="history.back()" class="btn btn-warning col-6" style="padding: top 5px;">to go back</a>
                    </div>
                </div>
            </div>
        </form>
    </section>

{% endblock %}
