{% extends 'translate/base.html' %}
{% load static %}

{% block content %}
    <div class="pagina-inicial">
        <section class="conteudo" class="col-10 col-lg-10" style="margin-bottom: 10px;">
            <p class="lead" style="color:#D9D9D9; margin-bottom: 5px;">
                Preencha todos os campos...
            </p>
            <div class="col-10 col-lg-10" style="margin-bottom: 10px;">
                <form action="" method="POST" style="color:#D9D9D9; margin-bottom: 5px;">

                    {% csrf_token %}

                    {{ form.as_p }}
                    <br><br>
                    <div class="row">
                        <div class="col-12 text-center offset-12">
                            <button type="submit" class="btn btn-success col-12" style="padding: top 5px;">Save record</a>
                        </div>
                        <div class="col-12 text-center offset-12">
                            <a href="#" onclick="history.back()" class="btn btn-warning col-12" style="padding: top 5px;">to go back</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}