{% load static %}
    <section class="menu-lateral">
        <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - inativo.png' %}"> Home</a>
            <a href="{% url 'register' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Register</a>
            <a href="{% url 'change' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Change</a>
            <a href="{% url 'export' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Export</a>
        </nav>
    </section>