{% load static %}
    <section class="menu-lateral">
        <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - inativo.png' %}"> Home</a>
            <a href="{% url 'list_language' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Language</a>
            <a href="{% url 'list_project' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Project</a>
            <a href="{% url 'list_project_language' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Project Language</a>
            <a href="{% url 'list_translations' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Translations</a>
        </nav>
    </section>